<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Check out Hannah's new article at:
    <div>
    <%= @link %>
    </div>
</h3>
<p>
    Have a great rest of your day!
</p>

<p>Philip Weiss</p>

<p>
    P.S: Find more at <a href="https://www.hannah.news/">Hannah.news</a>
</p>
</body>
</html>