<header class="navbar navbar-fixed-top navbar">
    <div class="container">
        <nav>
            <ul class="nav navbar-nav navbar-left">


                <li><%= link_to "Home", root_path, style: 'font-size: 13px; color: black;' %></li>
                <li><%= link_to "About", about_path, style: 'font-size: 13px; color: black;' %></li>
                <li><%= link_to "Archive", home_path, style: 'font-size: 13px; color: black;' %></li>

            </ul>

        </nav>
    </div>
</header>
